body {
  background-color: black;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

header {
  height: 14vh;
  background-color: rgb(0, 0, 0);
  padding: 0 120px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
header h1 {
  margin: 0;
  color: #1faea6;
  font-size: 2rem;
}
header h1 span {
  color: white;
}
header nav {
  font-size: 1rem;
  margin-left: auto;
}
header nav a {
  padding: 0 20px;
  color: white;
  text-decoration: none;
  transition: transform 1s ease;
}
#abc:hover {
  color: gray;
  transform: scale();
}

/* .logo-heading {
  color: #1faea6;
  padding-left: 50px;
}

.nav-heading nav ul {
  display: flex;
  list-style: none;
}

.nav-heading nav ul li {
  margin-left: 20px;
  margin-right: 40px;
}

.nav-heading nav ul li a {
  justify-content: end;
  text-decoration: none;
  color: white;
}

.nav-heading nav ul li a:hover {
  color: gray;
}
.nav-heading nav {
  margin-left: 700px;
}

.theme-icon {
  width: 40px;
  height: 40px;
  background-color: rgb(51, 49, 49);
  border-radius: 100%;
}

.theme-icon:hover {
  background-color: gray;
} */

#hero-section {
  width: 100%;
  display: flex;
  margin-top: 12px;
}

#hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
}

#back-slash {
  letter-spacing: 20px;
  margin-left: 20px;
}
#hero-image-sm {
  width: 50%;
}

#hero-image-sm img {
  width: 44vw;
  height: 66vh;
}
#salutaion {
  color: white;
  font-size: 2.5rem;
  padding-left: 44px;
}

#salutaion span {
  color: #1faea6;
}

#salutaion p {
  font-size: 1rem;
}

.home-btns {
  display: flex;
  justify-content: start;
  padding-top: 100px;
  padding-left: 40px;
}

.home-btns button {
  width: 12vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #1faea6;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.home-btns button a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.home-btns button:hover {
  background-color: gray;
}

#profile-circle {
  width: 500px;
  height: 560px;
  background-color: rgb(33, 33, 33);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.social-media {
  display: flex;
}

.sm-img {
  width: 6vw;
  height: 6vh;
}

#about-section {
  width: 100%;
  /* display: flex; */
  margin-top: 12px;
  padding-top: 30px;
}

#about-section h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
}
#about-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 48px;
}

.background-intro {
  width: 500px;
  height: 360px;
  background-color: rgb(102, 99, 99);
  border-radius: 12px;
  text-align: center;
  padding: 20px;
}
.background-intro h3 {
  font-size: 2rem;
  margin-top: 40px;
  font-weight: 700;
}
.background-intro p {
  margin: 30px;
  line-height: 25px;
  font-size: 1rem;
}

#about-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.about-content {
  color: white;
  justify-content: space-between;
  font-size: 2rem;
  margin-right: 60px;
  display: flex;
  justify-content: space-evenly;
}

.skills {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.skill-box {
  background-color: #1faea6;
  width: 8vw;
  height: 5vh;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 20px;
  align-content: center;
  text-align: center;
}

.skill-row {
  margin-right: 10px;
}

#cv-btn {
  display: block;
  margin-left: 178px;
  margin-top: 50px;
}

#cv-btn button {
  width: 12vw;
  height: 7vh;
  background-color: #222121;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

#cv-btn button img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 5px;
}

#cv-btn button:hover {
  background-color: #3b3b3b;
  color: rgb(255, 255, 255);
  border: 3px solid #3b3b3b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
#edu-ex {
  width: 100%;
  /* display: flex; */
  margin-top: 12px;
  padding-top: 30px;
}

.edu-ex-container {
  display: flex;
}

#education {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
}

.education-intro {
  width: 30vw;
  height: 75vh;
  background-color: rgb(102, 99, 99);
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edu-ex-topic {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

#experience {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
}
.experience-intro {
  width: 30vw;
  height: 75vh;
  background-color: rgb(102, 99, 99);
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-intro::before {
  content: "";
  position: absolute;
  left: 42px;
  top: 16px;
  bottom: 35px;
  width: 5px;
  background-color: #000000;
}

.education-intro::before {
  content: "";
  position: absolute;
  left: 42px;
  top: 16px;
  bottom: 35px;
  width: 5px;
  background-color: #000000;
}

.item {
  position: relative;
  /* padding-left: 40px; */
  margin-bottom: 50px;
}

.item::before {
  content: "";
  position: absolute;
  left: 15px;
  top: -2px;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
}

.item h3 {
  margin: 9px;
  font-size: 1.2rem;
  color: #000000;
}

.item p {
  margin: 15px 40px 12px;
  font-size: 1rem;
  color: #333333;
}

#projects-section h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 100px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
}

.project-box {
  width: 340px;
  height: 350px;
  background-color: rgb(102, 99, 99);
  border-radius: 15px;
}

#contact-section h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 100px;
}

#contact-section p {
  color: rgb(201, 201, 201);
  font-size: 1.8rem;
  text-align: center;
  /* margin-top: 30px; */
}

.contact-container {
  display: flex;
  margin-top: 80px;
}

#find-me {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
}
#find-me-box {
  width: 500px;
  height: 400px;
  background-color: #1faea6;
  border-radius: 15px;
  align-items: center;
}

#find-me-box h2 {
  font-weight: 2px;
  padding-top: 95px;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 42px;
}
#find-me-box p {
  font-weight: 2px;
  text-align: center;
  font-size: 1.2rem;
  color: #333333;
}

#find-me-box img {
  width: 2vw;
  height: 2vh;
}
#send {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
}
#input-box {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 20px;
}

#send input {
  width: 230px;
  height: 50px;
  border-radius: 15px;
  background-color: #000000;
  border: 1px solid white;
}

#send textarea {
  margin-right: 45px;
  width: 30vw;
  border-radius: 15px;
  background-color: #000000;
  border: 1px solid white;
  color: white;
}
#send button {
  margin-right: 400px;
  margin-top: 60px;
  width: 10vw;
  height: 6vh;
  background-color: #222121;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

#send button:hover {
  background-color: #3b3b3b;
  color: rgb(255, 255, 255);
  border: 3px solid #3b3b3b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
footer {
  height: 35vh;
  background-color: #101249;
  text-align: center;
  padding: 30px;
}

footer h2 {
  color: #1faea6;
  font-size: 2.5rem;
}
footer nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 75px;
}

footer nav a {
  color: white;
  text-decoration: none;
  transition: transform 1s ease;
  margin: 0 70px;
  font-size: 1rem;
  font-weight: bold;
}

footer p {
  margin-top: 75px;
  color: #5e5d5d;
  font-size: 1rem;
  font-weight: bold;
}

footer p span {
  color: #1faea6;
}
