* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

body {
  background-color: black;
  font-family: "Inter", sans-serif;
}

section {
  padding: 3rem 0 10rem;
}

.content {
  max-width: 960px;
  margin: auto;
  width: 100%;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  color: #1faea6;
  font-size: 2rem;
}
header h1 span {
  color: white;
}
.nav-links {
  display: flex;
  list-style: none;
  column-gap: 60px;
}

.nav-links li {
  margin-right: 16px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

#burger {
  display: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-panel {
  background-color: #333;
  color: white;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.4s ease;
}

.menu-panel ul {
  list-style: none;
  padding: 50px 20px;
}

.menu-panel ul li {
  margin-bottom: 20px;
}

.menu-panel ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.close-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

#abc:hover {
  color: gray;
  transform: scale();
}

/* ================================ Home ============================================== */
.home {
  padding-top: 15rem;
}
.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#back-slash {
  letter-spacing: 20px;
  margin-left: 20px;
}

#hero-image-sm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-img {
  width: 400px;
  height: 350px;
}
#salutaion {
  color: white;
  font-size: 2.3rem;
}

#salutaion h2 {
  margin-bottom: 35px;
}

#salutaion span {
  color: #1faea6;
}

#salutaion p {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.home-btns {
  display: flex;
  justify-content: start;
  margin-top: 140px;
}

.home-btns button {
  width: 10vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #1faea6;
  justify-content: space-between;
  margin-right: 20px;
  transition: 0.5 ease;
}

.home-btns button a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.home-btns button:hover {
  background-color: gray;
  transition: 0.3s all linear;
  transform: scale(1.05);
  transition: 0.5 ease;
}

.social-media {
  display: flex;
  justify-content: center;
  column-gap: 2em;
}

.social-media .icon {
  font-size: 1.6rem;
  color: #ffffff;
  padding: 10px;
  background-color: #333;
  border-radius: 15px;
}

.sm-img {
  width: 4vw;
  height: 4vh;
}

/* Heading */
.heading {
  color: rgb(58, 58, 58);
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/*====================== About ================================*/

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.background-intro {
  width: 26vw;
  height: 50vh;
  background-color: rgb(102, 99, 99);
  border-radius: 12px;
  text-align: center;
  padding: 20px;
}

.background-intro h3 {
  font-size: 2rem;
  margin-top: 40px;
  font-weight: 700;
}
.background-intro p {
  margin: 30px;
  line-height: 20px;
  font-size: 0.8rem;
}

.about-content {
  color: white;
  justify-content: space-between;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin-left: 90px;
}

.skills {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.skill-box {
  background-color: #1faea6;
  width: 7vw;
  height: 5vh;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  margin: 20px;
  align-content: center;
  text-align: center;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skill-box:hover {
  transform: scale(1.05);
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skill-row {
  margin-right: 10px;
}

#cv-btn {
  display: block;
  margin-left: 210px;
  margin-top: 50px;
}

#cv-btn button {
  width: 12vw;
  height: 7vh;
  background-color: #222121;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

#cv-btn:hover {
  transition: 0.3s all linear;
}
#cv-btn button img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 3px;
}

#cv-btn button:hover {
  background-color: #3b3b3b;
  color: rgb(255, 255, 255);
  border: 3px solid #3b3b3b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* ============================ Education & Experiences ============================================== */

.edu-ex-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.education-intro {
  width: 25vw;
  height: 70vh;
  background-color: rgb(102, 99, 99);
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edu-ex-topic {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.experience-intro {
  width: 25vw;
  height: 70vh;
  background-color: rgb(102, 99, 99);
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 90px;
}

.item {
  margin-bottom: 48px;
}

.item h3 {
  margin: 9px;
  font-size: 1rem;
  color: #000000;
}

.item p {
  margin: 15px 40px 12px;
  font-size: 0.8rem;
  color: #333333;
}

/*  ====================================== Projects ============================================== */

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1faea6;
  border-radius: 0.4rem;
  text-align: center;
  padding: 15px;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-box:hover {
  transform: scale(1.05);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-box h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.project-box p {
  font-size: 0.9rem;
}

/*  ======================================= Contact =============================================== */
#contact-section p {
  color: rgb(201, 201, 201);
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

#find-me-box {
  width: 28vw;
  height: 40vh;
  background-color: #1faea6;
  border-radius: 15px;
  align-items: center;
}

#find-me-box h2 {
  font-weight: 2px;
  padding-top: 95px;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 42px;
}
#find-me-box p {
  font-weight: 2px;
  text-align: center;
  font-size: 1.2rem;
  color: #333333;
}

#find-me-box img {
  width: 2vw;
  height: 2vh;
}

#send {
  margin-left: 90px;
}

#send input {
  width: 25vw;
  height: 7vh;
  border-radius: 15px;
  background-color: #000000;
  border: 1px solid white;
}

#send textarea {
  width: 25vw;
  height: 23vh;
  border-radius: 15px;
  background-color: #000000;
  border: 1px solid white;
  color: white;
}
#send button {
  background-color: #222121;
  color: white;
  width: 120px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

#send button:hover {
  background-color: #3b3b3b;
  transition: 0.3s all linear;
}
footer {
  height: 35vh;
  width: auto;
  background-color: #101249;
  text-align: center;
  padding: 30px;
}

footer h2 {
  color: #1faea6;
  font-size: 2.5rem;
}
footer nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 75px;
}

footer nav a {
  color: white;
  text-decoration: none;
  transition: transform 1s ease;
  margin: 0 70px;
  font-size: 1rem;
  font-weight: bold;
}

footer p {
  margin-top: 75px;
  color: #5e5d5d;
  font-size: 1rem;
  font-weight: bold;
}

footer p span {
  color: #1faea6;
}

/* =============================== Tab Type Devices =================================================== */

@media screen and (max-width: 768px) {
  /* ------------Header------------ */
  .nav-links {
    display: none;
  }

  .logo-container > h2 {
    display: none;
  }

  .burger {
    display: block;
  }

  .menu-panel.active {
    right: 0;
  }

  /* ---------- About Me ------------ */

  #about-section h1 {
    margin-left: 265px;
  }

  .about-container {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }

  #about-left {
    margin-bottom: 65px;
    margin-left: 265px;
    width: 65vw;
  }

  .background-intro {
    height: 60vh;
    width: 65vw;
  }

  .background-intro h3 {
    margin-top: 40px;
  }

  .background-intro p {
    margin: 45px;
    line-height: 35px;
    font-size: 1.1rem;
  }

  #about-right {
    margin-bottom: 65px;
    margin-left: 265px;
    width: 65vw;
  }

  .skills {
    font-size: 1.8rem;
  }

  .skill-box {
    width: 12vw;
    height: 7vh;
  }

  #cv-btn button {
    width: 20vw;
    height: 8vh;
    margin-left: 75px;
  }

  /* ------- Education & Experinces --------- */

  #edu-ex {
    display: flex;
    align-items: center;
  }
  .edu-ex-container {
    width: 100vw;
  }
  #education {
    margin-left: 115px;
  }

  #experience {
    margin-left: 50px;
  }
  .education-intro {
    width: 40vw;
    height: 70vh;
  }

  .experience-intro {
    width: 40vw;
    height: 70vh;
  }

  .item h3 {
    margin: 15px;
    font-size: 1.1rem;
  }

  .item p {
    font-size: 0.9rem;
  }

  /* ---------- Projects ------------------- */
}
